In [ ]:
import numpy as np
import pandas as pd
from google.colab import drive

In [ ]:
prefix = '/content/drive'
from google.colab import drive
drive.mount(prefix, force_remount=True)

Mounted at /content/drive

In [ ]:
# Set file path
file_path = '/content/drive/MyDrive/CIS 550/Project/demographics.csv'
data = pd.read_csv(file_path)

In [ ]:
data_1 = data.rename(columns={"ORIGIN": "origin", "NAME": "state", "SEX": "sex", "RACE": "race", "AGE": "age", "POPESTIMATE2010": "2010", "POPESTIMATE2011": "2011", "POPESTIMATE2012": "2012", "POPESTIMATE2013": "2013", "POPESTIMATE2014": "2014", "POPESTIMATE2015": "2015", "POPESTIMATE2016": "2016", "POPESTIMATE2017": "2017", "POPESTIMATE2018": "2018", "POPESTIMATE2019": "2019"})
data_1.head()

   SUMLEV  REGION  DIVISION  STATE    state  ...   2015   2016   2017   2018   2019
0      40       3         6      1  Alabama  ...  37698  37629  37526  36370  35594
1      40       3         6      1  Alabama  ...  37882  37732  37904  37641  36679
2      40       3         6      1  Alabama  ...  37123  38048  37975  38172  37904
3      40       3         6      1  Alabama  ...  37896  37266  38170  38197  38510
4      40       3         6      1  Alabama  ...  38625  37954  37322  38312  38476

[5 rows x 21 columns]

In [ ]:
# Normalize data fields
state_map = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'American Samoa': 'AS',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Guam': 'GU',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
}

data_2 = data_1.replace({"state": state_map})
data_2.head()

sex_map = {
    0: 'Total',
    1: 'M',
    2: 'F'
}

data_3 = data_2.replace({"sex": sex_map})
data_3.head()


race_map = {
    1: 'White',
    2: 'Black',
    3: 'Native American',
    4: 'Asian',
    5: 'Pacific Islander',
    6: 'Two or more'
}

data_4 = data_3.replace({"race": race_map})
data_4.head()

data_5 = data_4.drop(["SUMLEV", "REGION", "DIVISION", "STATE", "CENSUS2010POP", "ESTIMATESBASE2010"], axis=1)
data_5.head()

origin_map = {
    0: 'Total',
    1: 'non_hispanic',
    2: 'hispanic'
}

data_6 = data_5.replace({"origin": origin_map})
data_6.head()

  state    sex origin   race  age  ...   2015   2016   2017   2018   2019
0    AL  Total  Total  White    0  ...  37698  37629  37526  36370  35594
1    AL  Total  Total  White    1  ...  37882  37732  37904  37641  36679
2    AL  Total  Total  White    2  ...  37123  38048  37975  38172  37904
3    AL  Total  Total  White    3  ...  37896  37266  38170  38197  38510
4    AL  Total  Total  White    4  ...  38625  37954  37322  38312  38476

[5 rows x 15 columns]

In [ ]:
grouped = data_6.groupby(["origin", "state", "sex", "race", "age"]) 
# Step 2: Count rows in each group
counts = grouped.size()

# Note, since we are using Victim's name in the primary key, we should remove all cases where name is "Name withheld by police"
print(counts[counts > 1])

Series([], dtype: int64)

In [ ]:
data_6.to_csv("dem.csv", index=False, sep=";")
from google.colab import files
files.download('dem.csv')