In [ ]:
import numpy as np
import pandas as pd
from google.colab import drive

In [ ]:
prefix = '/content/drive'
from google.colab import drive
drive.mount(prefix, force_remount=True)

Mounted at /content/drive

In [ ]:
# Set file path
file_path = '/content/drive/MyDrive/CIS 550/Project/shootings_wash_post.csv'

In [ ]:
# Load data into data
shootings_wash_post = pd.read_csv(file_path)
print("Number of null cities: ", shootings_wash_post["city"].isnull().sum())
shootings_wash_post.head()

Number of null cities:  0

   id                name      date  ... threat_level         flee  body_camera
0   3          Tim Elliot  1/2/2015  ...       attack  Not fleeing        False
1   4    Lewis Lee Lembke  1/2/2015  ...       attack  Not fleeing        False
2   5  John Paul Quintero  1/3/2015  ...        other  Not fleeing        False
3   8     Matthew Hoffman  1/4/2015  ...       attack  Not fleeing        False
4   9   Michael Rodriguez  1/4/2015  ...       attack  Not fleeing        False

[5 rows x 14 columns]

In [ ]:
for col in shootings_wash_post.columns:  # iterate over all columns
  if shootings_wash_post[col].dtype not in [np.int64, np.float64]:  # ignore integer and float columns
    # print a header, all unique values, and a separator
    print('Unique Values for {}'.format(col))  
    print(shootings_wash_post[col].unique())   
    print('')

Unique Values for name
['Tim Elliot' 'Lewis Lee Lembke' 'John Paul Quintero' ... 'Thomas Moles'
 'Jose Manuel Castro' 'Jeffrey Hubbard']

Unique Values for date
['1/2/2015' '1/3/2015' '1/4/2015' ... '8/14/2020' '8/15/2020' '8/16/2020']

Unique Values for manner_of_death
['shot' 'shot and Tasered']

Unique Values for armed
['gun' 'unarmed' 'toy weapon' 'nail gun' 'knife' nan 'shovel' 'vehicle'
 'hammer' 'hatchet' 'sword' 'machete' 'box cutter' 'undetermined'
 'metal object' 'screwdriver' 'lawn mower blade' 'flagpole'
 'guns and explosives' 'cordless drill' 'crossbow' 'metal pole' 'Taser'
 'metal pipe' 'metal hand tool' 'blunt object' 'metal stick'
 'sharp object' 'meat cleaver' 'carjack' 'chain' "contractor's level"
 'unknown weapon' 'stapler' 'beer bottle' 'bean-bag gun'
 'baseball bat and fireplace poker' 'straight edge razor' 'gun and knife'
 'ax' 'brick' 'baseball bat' 'hand torch' 'chain saw' 'garden tool'
 'scissors' 'pole' 'pick-axe' 'flashlight' 'baton' 'spear' 'chair'
 'pitchfork' 'hatchet and gun' 'rock' 'piece of wood' 'bayonet' 'pipe'
 'glass shard' 'motorcycle' 'pepper spray' 'metal rake' 'crowbar' 'oar'
 'machete and gun' 'tire iron' 'air conditioner' 'pole and knife'
 'baseball bat and bottle' 'fireworks' 'pen' 'chainsaw' 'gun and sword'
 'gun and car' 'pellet gun' 'claimed to be armed' 'BB gun'
 'incendiary device' 'samurai sword' 'bow and arrow' 'gun and vehicle'
 'vehicle and gun' 'wrench' 'walking stick' 'barstool' 'grenade'
 'BB gun and vehicle' 'wasp spray' 'air pistol' 'Airsoft pistol'
 'baseball bat and knife' 'vehicle and machete' 'ice pick'
 'car, knife and mace' 'bottle']

Unique Values for gender
['M' 'F' nan]

Unique Values for race
['A' 'W' 'H' 'B' 'O' nan 'N']

Unique Values for city
['Shelton' 'Aloha' 'Wichita' ... 'Marion County' 'Maury County'
 'Dos Palos']

Unique Values for state
['WA' 'OR' 'KS' 'CA' 'CO' 'OK' 'AZ' 'IA' 'PA' 'TX' 'OH' 'LA' 'MT' 'UT'
 'AR' 'IL' 'NV' 'NM' 'MN' 'MO' 'VA' 'NJ' 'IN' 'KY' 'MA' 'NH' 'FL' 'ID'
 'MD' 'NE' 'MI' 'GA' 'TN' 'NC' 'AK' 'NY' 'ME' 'AL' 'MS' 'WI' 'SC' 'DE'
 'DC' 'WV' 'HI' 'WY' 'ND' 'CT' 'SD' 'VT' 'RI']

Unique Values for signs_of_mental_illness
[ True False]

Unique Values for threat_level
['attack' 'other' 'undetermined']

Unique Values for flee
['Not fleeing' 'Car' 'Foot' 'Other' nan]

Unique Values for body_camera
[False  True]

In [ ]:
# Create a year column which will be derived from the date entry
shootings_wash_post.insert(1, "Year", shootings_wash_post["date"])
shootings_wash_post.head()

   id      Year                name  ... threat_level         flee body_camera
0   3  1/2/2015          Tim Elliot  ...       attack  Not fleeing       False
1   4  1/2/2015    Lewis Lee Lembke  ...       attack  Not fleeing       False
2   5  1/3/2015  John Paul Quintero  ...        other  Not fleeing       False
3   8  1/4/2015     Matthew Hoffman  ...       attack  Not fleeing       False
4   9  1/4/2015   Michael Rodriguez  ...       attack  Not fleeing       False

[5 rows x 15 columns]

In [ ]:
# Update the new year column to just contain the 4-digit year of the date
shootings_wash_post = pd.read_csv(file_path)
if not ("Year" in shootings_wash_post):
  shootings_wash_post.insert(0, "Year", shootings_wash_post["date"])
  shootings_wash_post.head()
  for i in range(shootings_wash_post["Year"].size):
    date = shootings_wash_post["Year"][i]
    shootings_wash_post["Year"][i] = int(date[date.index("/", -5)+1:])

shootings_wash_post.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   Year  id                name  ... threat_level         flee body_camera
0  2015   3          Tim Elliot  ...       attack  Not fleeing       False
1  2015   4    Lewis Lee Lembke  ...       attack  Not fleeing       False
2  2015   5  John Paul Quintero  ...        other  Not fleeing       False
3  2015   8     Matthew Hoffman  ...       attack  Not fleeing       False
4  2015   9   Michael Rodriguez  ...       attack  Not fleeing       False

[5 rows x 15 columns]

In [ ]:
# Lits races
r = shootings_wash_post["race"].unique()
r

array(['A', 'W', 'H', 'B', 'O', nan, 'N'], dtype=object)

In [ ]:
# Drop rows where City is null, since City is part of primary key
shootings_wash_post = shootings_wash_post[shootings_wash_post["city"].notnull()]
print("Number of null cities: ", shootings_wash_post["city"].isnull().sum())

# NOTE: No cities are null, so this should have no effect on the dataset

# Drop rows where Victim name is "TK TK", which appears to be what is put when the victim name is not known
shootings_wash_post = shootings_wash_post[shootings_wash_post["name"] != "TK TK"]

# Drop any remaining duplicates based on key
shootings_wash_post = shootings_wash_post.drop_duplicates(subset=['Year', 'city', 'name'], keep='last')

Number of null cities:  0

In [ ]:
# Add a "Killed by gun wound column"

# NOTE in this dataset all killings are the result of being shot
if not ("is_gun_death" in shootings_wash_post):
  shootings_wash_post.insert(1, "is_gun_death", True)

shootings_wash_post = shootings_wash_post.replace({'is_gun_death': {True: 'y', False: 'n'}})
# print("Number of gunshot deaths: ", shootings_wash_post["is_gun_death"].sum() )

First, we create a `Series` that maps each country name to an integer.

In [ ]:
# TODO: Do we want to replace city/county names with an integer index to improve performance?

all_cities = shootings_wash_post["city"].unique()
city_codes = pd.Series(index=all_cities, data=np.arange(len(all_cities)))
city_codes

# shootings_wash_post["City"] = country_codes.loc[shootings_wash_post["City"]].values
# shootings_wash_post["City"] = shootings_wash_post["City"].astype(np.int64)

Shelton             0
Aloha               1
Wichita             2
San Francisco       3
Evans               4
                 ...
Holladay         2450
Dania Beach      2451
Marion County    2452
Maury County     2453
Dos Palos        2454
Length: 2455, dtype: int64

In [ ]:
# Check whether the columns "Year", "City", "Victim's name" can be used as Primary Keys

# Step 1: Group dataframe by candidate columns 
grouped = shootings_wash_post.groupby(["Year", "city", "name"]) 
# Step 2: Count rows in each group
counts = grouped.size()

# Note, since we are using Victim's name in the primary key, we should remove all cases where name is "Name withheld by police"
print(counts[counts > 1])

Series([], dtype: int64)

In [ ]:
# Add a county column using a US States database

# Set file path
states_file_path = '/content/drive/MyDrive/CIS 550/Project/uscities.csv'
cities = pd.read_csv(states_file_path)
cities.head()

shootings_wash_post_with_county = shootings_wash_post.merge(cities, left_on=["city", "state"], right_on=["city", "state_id"], how="left")
shootings_wash_post_with_county.head()

print("Number of null counties: ", shootings_wash_post_with_county["county_name"].isnull().sum())

# Drop rows where County is null
shootings_wash_post_with_county = shootings_wash_post_with_county[shootings_wash_post_with_county["county_name"].notnull()]
shootings_wash_post_with_county.head()

Number of null counties:  646

   Year  ...          id_y
0  2015  ...  1.840021e+09
1  2015  ...  1.840017e+09
2  2015  ...  1.840002e+09
3  2015  ...  1.840022e+09
4  2015  ...  1.840020e+09

[5 rows x 32 columns]

In [ ]:
shootings_wash_post_with_county.head()

# Drop unwanted columns
shootings_wash_post_with_county_reduced_columns = shootings_wash_post_with_county.drop(['armed', 'signs_of_mental_illness', 'threat_level', 'flee', 'body_camera', 'city_ascii', 'state_id', 'state_name', 'county_fips', 'lat', 'lng', 'population', 'density', 'source', 'military', 'incorporated', 'timezone', 'ranking', 'zips', 'id_y', 'id_x'], axis=1)
shootings_wash_post_with_county_reduced_columns.head()

   Year is_gun_death                name  ...           city state    county_name
0  2015            y          Tim Elliot  ...        Shelton    WA          Mason
1  2015            y    Lewis Lee Lembke  ...          Aloha    OR     Washington
2  2015            y  John Paul Quintero  ...        Wichita    KS       Sedgwick
3  2015            y     Matthew Hoffman  ...  San Francisco    CA  San Francisco
4  2015            y   Michael Rodriguez  ...          Evans    CO           Weld

[5 rows x 11 columns]

In [ ]:
# Normalize column headings
shootings_wash_post_with_county_reduced_columns_renamed = shootings_wash_post_with_county_reduced_columns.rename(columns={"Year": "year", "gender": "sex", "county_name": "county", "manner_of_death": "cause_of_death"})

shootings_wash_post_with_county_reduced_columns_renamed.insert(9, "article", "NULL")
shootings_wash_post_with_county_reduced_columns_renamed = shootings_wash_post_with_county_reduced_columns_renamed[['year', 'city', 'name', 'age', 'sex', 'race', 'cause_of_death', 'date', 'county', 'state', 'is_gun_death', 'article']]
shootings_wash_post_with_county_reduced_columns_renamed.head()

   year           city                name  ...  state is_gun_death article
0  2015        Shelton          Tim Elliot  ...     WA            y    NULL
1  2015          Aloha    Lewis Lee Lembke  ...     OR            y    NULL
2  2015        Wichita  John Paul Quintero  ...     KS            y    NULL
3  2015  San Francisco     Matthew Hoffman  ...     CA            y    NULL
4  2015          Evans   Michael Rodriguez  ...     CO            y    NULL

[5 rows x 12 columns]

In [ ]:
# Normalize Race Names
race_map = {
    'W': 'White',
    'B': 'Black',
    'A': 'Asian',
    'N': 'Native American',
    'H': 'Hispanic',
    'nan': 'Unknown',
    'O': 'Unknown',
}

shootings_wash_post_with_county_reduced_columns_renamed_1 = shootings_wash_post_with_county_reduced_columns_renamed.replace({"race": race_map})
shootings_wash_post_with_county_reduced_columns_renamed_1.head()
r = shootings_wash_post_with_county_reduced_columns_renamed_1["race"].unique()
r

array(['Asian', 'White', 'Hispanic', 'Black', 'Unknown',
       'Native American', nan], dtype=object)

In [ ]:
shootings_wash_post_with_county_reduced_columns_renamed_1.to_csv("wash_post.csv", index=False, sep=";")

In [ ]:
from google.colab import files
files.download('wash_post.csv')